body {
    background-color: #a4a4a4;
    font-family: Arial;
}

a {
    color: #000;
}

.gfont {
    font-family: 'Basic', Arial;
}

#content {
    min-height: 600px;
    background-color: #fff;
    padding: 0 40px;
}

#navigation {
    margin-top: 60px;
}

#navigation ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    /*float: left;*/
    width: 550px;
}

#navigation ul li {
    float: left;
    display: block;
    margin-right: 40px;
}

