/**********
plum: #421047
plum accent: #4e1354
saffron: #e2c223
**********/

body {
    background-color: #e9e9e9;
    font-family: Arial;
    /*background: url(../img/texture_bw.png);*/
}

a {
    color: #000;
}

a:hover {
    color: #421047;
    text-shadow: 1px 1px 2px white;
}

.sofia {
    font-family: 'Sofia', Arial;
}

.armata {
    font-family: 'Armata', Arial;
}

#content {
    min-height: 640px;
    background-color: #fff;
    /*padding: 0 40px;*/
    position: relative;
}

#footer {
    width: 940px;
    margin: 0 auto;
    font-size: 10px;
}

#header {
    margin: 0 auto;
    font-size: 32px;
    margin: 30px 0 10px 0;
    text-align: center;
    color: #421047;
}

#navigation {
    margin: 30px 0 30px 0;
    font-size: 18px;
}

#navigation ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 670px;
}

#navigation ul li {
    float: left;
    display: block;
    margin-right: 40px;
}

#buildings {
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 165px;
    background: url(../img/buildings.png) no-repeat 20px 0;
    z-index: 0;
}

/**********
HOME PAGE
**********/
#info-box {
    background: url(../img/yellow_box.png) no-repeat 0 0;
    width: 540px;
    height: 350px;
    margin: 20px auto;
    color: white;
    text-align: center;
    z-index: 1000;
    position: relative;
}

#info-box #names {
    font-size: 40px;
    padding-top: 80px;
}

#info-box #date {
    font-size: 46px;
    padding-top: 110px;
}

#info-box #location {
    font-size: 40px;
    padding-top: 30px;
}

#info-box #countdown {
    font-size: 24px;
    padding-top: 30px;
}










