{% extends "wedding/interior.html" %}

{% block content %}
<h2 class="top-element">Annora &amp; Andrew <span>Coming Soon</span></h2>
<div class="divider"></div>
<div class="section">
	<p>Annora and Andrew are extremely interesting, busy, and loving people. They are grateful you took the time to visit their website and are very sorry that they didn't have time to further convince you of the above. Please check back for more information on the couple, their families, the bridal party, their awesome dog, and their stupid cat [ED: the bride objects].</p>
	<p>For the time being please check out the <a href="{% url information %}">Information</a>, <a href="{% url accommodations %}">Accommodations</a>, and <a href="{% url registry %}">Registry</a> pages for <i>actual useful information</i>.
</div>
{% endblock %}
