{% extends "wedding/interior.html" %}

{% block content %}
<div class="section">
	<h2>Accommodations</h2>
	<div class="divider"></div>
	<p class="light">
		We recommend the following hotels for their location and amenities. Mention the Sheehan-Gaerig wedding for group rates.
	</p>
</div>
<div class="hotel section">
	<h4>Detroit Marriott at the Renaissance Center</h4>
	<iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=renaissance+center+marriott&amp;fb=1&amp;gl=us&amp;hq=renaissance+center+marriott&amp;cid=0,0,3989599929179481793&amp;t=m&amp;ll=42.3319,-83.037972&amp;spn=0.005552,0.017166&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	<ul class="half-section">
		<li>400 Renaissance Drive</li>
		<li>Detroit, MI 48243</li>
		<li>877.901.6632</li>
	</ul>
	<ul class="half-section">
		<li>
			<a target="_blank" href="https://www.marriott.com/hotels/travel/dtwdt-detroit-marriott-at-the-renaissance-center/">marriott.com</a>
		</li>
		<li>Group rates through August 30, 2012</li>
		<li>Shuttle service available</li>
	</ul>
</div>
<div class="hotel section">
	<h4>Roberts Riverwalk / Omni Hotel</h4>
	<iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=roberts+riverwalk+hotel+detroit&amp;fb=1&amp;gl=us&amp;hq=roberts+riverwalk+hotel+detroit&amp;cid=0,0,2384100184984018504&amp;t=m&amp;ll=42.338911,-83.014948&amp;spn=0.005551,0.017166&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	<ul class="half-section">
		<li>1000 River Place</li>
		<li>Detroit, MI 48207</li>
		<li>313.259.9500</li>
	</ul>
	<ul class="half-section">
		<li>
			<a target="_blank" href="http://www.detroitriverwalkhotel.com/">detroitriverwalkhotel.com</a>
		</li>
		<li>Group rates through August 24, 2012</li>
	</ul>
</div>
<div class="hotel section">
	<h4>Greektown Casino Hotel</h4>
		<iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=greektown+casino&amp;fb=1&amp;gl=us&amp;hq=greektown+casino&amp;cid=0,0,1270333691226731817&amp;t=m&amp;ll=42.337182,-83.041255&amp;spn=0.005551,0.017166&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	<ul class="half-section">
		<li>555 East Lafayette Ave.</li>
		<li>Detroit, MI 48226</li>
		<li>877.424.5554</li>
	</ul>
	<ul class="half-section">
		<li>
			<a target="_blank" href="http://www.greektowncasino.com/">greektowncasino.com</a>
		</li>
		<li>Group rates through August 30, 2012</li>
	</ul>
</div>
<div class="hotel section">
	<h4>The Inn on Ferry Street</h4>
	<iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=inn+on+ferry+street+detroit+mi&amp;fb=1&amp;gl=us&amp;hq=inn+on+ferry+street+detroit+mi&amp;hnear=inn+on+ferry+street+detroit+mi&amp;cid=0,0,3983733487329780890&amp;t=m&amp;ll=42.364125,-83.065245&amp;spn=0.005549,0.017166&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	<ul class="half-section">
		<li>84 East Ferry Street</li>
		<li>Detroit, MI 48202</li>
		<li>313.871.6000</li>
	</ul>
	<ul class="half-section">
		<li>
			<a target="_blank" href="http://innonferrystreet.com/05/">innonferrystreet.com</a>
		</li>
		<li>No group rate available (sorry!)</li>
		<li>But it's a nice place</li>
	</ul>
</div>
{% endblock %}
