{% extends "wedding/interior.html" %}

{% block content %}
<!-- ______________CEREMONY______________ -->
<h2>Ceremony <span>5:00 PM Friday, September 14</span></h2>
<div class='divider'></div>
<div class="section first">
	<h4>Most Holy Trinity Church</h4>
	<iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=holy+trinity+church+detroit&amp;fb=1&amp;gl=us&amp;hq=holy+trinity+church&amp;hnear=0x8824ca0110cb1d75:0x5776864e35b9c4d2,Detroit,+MI&amp;cid=0,0,11274585802769979394&amp;t=m&amp;ll=42.332043,-83.060975&amp;spn=0.005552,0.017166&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	<ul class="half-section">
		<li>1050 Porter Street</li>
		<li>Detroit, MI 48226</li>
		<li>313.965.4450</li>
	</ul>
	<ul class="half-section">
		<li>5:00 PM</li>
		<li>Friday</li>
		<li>September 14, 2012</li>
	</ul>
	<p class="first"><a href="http://www.parishesonline.com/scripts/hostedsites/org.asp?ID=15888" target="_blank">Most Holy Trinity Church</a> is a parish of The Roman Catholic Archdiocese of Detroit. It is located in the Corktown neighborhood of Detroit, a historic Irish and Maltese neighborhood where both the Sheehan and Tabone families have resided for decades.</p>
	<p>Rev. Russell Kohler will preside over the ceremony. Sister Mary Ellen Sheehan, Annora's aunt, will give the homily.</p>
	<p>Parking is available in the neighborhood surrounding the church</p>
</div>
<!-- ______________RECEPTION______________ -->
<h2>Reception <span>7:00 PM</span></h2>
<div class='divider'></div>
<div class="section">
	<h4>The Rattlesnake Club</h4>
	<iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=the+rattlesnake+club&amp;fb=1&amp;gl=us&amp;hq=the+rattlesnake+club&amp;cid=0,0,13691003816505852749&amp;t=m&amp;ll=42.338372,-83.016579&amp;spn=0.005551,0.017166&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	<ul class="half-section">
		<li>300 River Place Drive</li>
		<li>Detroit, MI 48207</li>
		<li>313.567.4400</li>
	</ul>
	<ul class="half-section">
		<li><a href="http://www.rattlesnakeclub.com/" target="_blank">rattlesnakeclub.com</a></li>
		<li>Cocktails at 7:00 PM</li>
		<li>Dinner and dancing to follow</li>
	</ul>
	<p class="first">The Rattlesnake Club has been a Detroit culinary institution for two decades. It overlooks the Detroit River. Our reception will be held at its event space. We hope you will join us after the ceremony for cocktails, drinks, and dancing.</p>
	<p>Secure parking is available at the Rattlesnake Club for wedding guests.</p>
</div>
<h2>Menu</h2>
<div class="divider"></div>
<div class="section">
	<p>Hors d'oeuvres will be available during the cocktail hour. Please indicate each guest's dinner choice on your RSVP card. The choices are as follows:</p>
	<ul class="half-section">
		<li class="title">Boneless Angus Beef Short Ribs</li>
		<li>Braised in Smokey BBQ Sauce with Sweet Garlic</li>
		<li>Parmesan Cauliflower Smash, Rosemary Froth</li>
	</ul>
	<ul class="half-section">
		<li class="title">Roasted Organic Chicken Breast</li>
		<li>Stuffed with Prosciutto &amp; Parmesan</li>
		<li>Atop Spinach Ravioli, Saba Glaze</li>
	</ul>
	<ul class="half-section second-row">
		<li class="title">Wild Mushroom & Spinach Ravioli</li>
		<li>Roasted Garlic, Wild Mushrooms, Asparagus</li>
		<li>Saba Glaze &amp; Parmesan</li>
	</ul>
	<p>Please contact us with any menu concerns or information about special dietary needs.</p>
</div>
<!-- ______________PHOTOGRAPHY______________ -->
<h2>Photography &amp; Videography</h2>
<div class="divider"></div>
<div class="section">
	<p class="first">Photography and videography will be provided by, respectively, <a href="http://caseytography.com/Caseytography.html" target="_blank">Forest and Jon Casey</a>, who the couple has known since college. They are Los Angeles-based visual artists.</p>
</div>

{% endblock %}
