{% extends "wedding/interior.html" %}

{% block content %}
<div class="section">
	<ul class="quarter-section">
		<li class="registry-title">
			<a href="http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4870431" target="_blank">Crate &amp; Barrel</a>
		</li>
		<li>Flatware</li>
		<li>Kitchen Tools</li>
		<li>Grilling</li>
	</ul>
	<ul class="quarter-section">
		<li class="registry-title">
			<a href="http://www1.macys.com/registry/wedding/guest/?registryId=11028" target="_blank">Macy's</a>
		</li>
		<li>Dinnerware</li>
		<li>Bedding</li>
		<li>Serveware</li>
	</ul>
	<ul class="quarter-section">
		<li class="registry-title">
			<a href="http://www.target.com/RegistryGiftGiverCmd?isPreview=false&status=completePageLink&listId=ac4ZA2YfOM8IH9f-MmfYiA&registryType=WD&isAjax=false" target="_blank">Target</a>
		</li>
		<li>Appliances</li>
		<li>Bedding</li>
		<li>Storage</li>
	</ul>
	<ul class="quarter-section">
		<li class="registry-title">
			<a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=49XA85VDI66I&type=wedding" target="_blank">Amazon</a>
		</li>
		<li>Stemware</li>
		<li>Pots &amp; Pans</li>
		<li>Cutlery</li>
	</ul>
</div>
{% endblock %}
