{% extends "wedding/interior.html" %}

{% block content %}
<h2 class="afterparty">The Afterpary, The Afterparty, The Afterparty</h2>
<div class="section">
<iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=442+2nd+st+ann+arbor+mi&amp;ie=UTF8&amp;hq=&amp;hnear=442+2nd+St,+Ann+Arbor,+Washtenaw,+Michigan+48103&amp;gl=us&amp;t=m&amp;ll=42.284612,-83.749123&amp;spn=0.022224,0.068665&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</div>

<div class="section">
	<ul class="half-section">
		<li><span class="yellow">Where: </span>442 2nd Street, Ann Arbor, MI</li>
		<li><span class="yellow">When: </span>Starting at 12 p.m. Saturday, September 15th</li>
		<li><span class="yellow">Why: </span>Michigan vs. UMass (3:30 start)</li>
	</ul>	
	
</div>	
<h2>The Invitation</h2>
<div class="divider"></div>
<div class="section">
	<p>Groomsman Miles Putnam has graciously invited friends and family to his home in Ann Arbor on Saturday, September 15 to watch Michigan "battle" UMass. Over the years we have spent a lot of time and energy enjoying/fretting both Ann Arbor and Michigan sports, and we'd love for you to join us.</p>
	<p>The game begins at <b>3:30 ET</b>, though everyone is welcome as early as noon to grill, take in the atmosphere, play bocce ball, and catch the early games. We advise leaving Detroit no later than 2pm if you want to ensure catching the start of the game. Naturally, the earlier you leave the lighter traffic is likely to be.</p> 
	<p>We highly advise taking I-94 West from Detroit. This will help you avoid main arteries near the stadium. We advise <a target="_blank" href="https://maps.google.com/maps?saddr=442+2nd+Street,+Ann+Arbor,+MI&daddr=42.22408,-83.644405+to:Detroit,+MI&hl=en&ll=42.267909,-83.747749&spn=0.036775,0.109863&sll=42.331427,-83.045754&sspn=0.293904,0.617294&geocode=FUsYhQIdcQoC-ymruDO3JK48iDHqmVulKq7lZg%3BFdBJhAIdC7AD-ymzLEC_hKg8iDGwC2hr4q3lAA%3BFSPthQIdhtIM-yl1HcsQAcokiDHSxLk1ToZ2Vw&oq=442+2nd+st&mra=ls&t=m&z=14&via=1">this route</a>.</p>
	<p>Miles lives in a residential neighborhood. Street parking is available around his house, though it will fill up as gametime approaches.</p>
	<p>This isn't a marquee matchup, and Michigan Stadium is rather large. Tickets will be available online prior to the game as well as from various scalpers/civilians around the area. They will be reasonably priced, likely under $50. If you've never been to a Michigan football game, this is a fine opportunity.</p>
	<p>We will be providing grilled foods and beer for anyone attending. If you enjoy a certain kind of either, please feel free to bring it along.</p>
	<p>If you think you're able to attend, please email myself at <a href="mailto:agaerig@gmail.com">agaerig@gmail.com</a> sometime prior to the wedding, just so we can get a rough head count. Consider this a courtesy instead of a formal RSVP.</p>
</div>

{% endblock %}