{% extends "base.html" %}

{% block content %}
<div id="registry">
    <ul>
        <li>
            <a class="store" href="http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4870431">
                <img src="{{ STATIC_URL }}img/registry/crate_200x200.png" />
                <ul>
                    <li>flatware</li>
                    <li>kitchen tools</li>
					<li>grilling</li>
                </ul>
            </a>
        </li>
        <li>
            <a class="store" href="http://www1.macys.com/registry/wedding/guest/?registryId=11028">
                <img src="{{ STATIC_URL }}img/registry/macys_200x200.png" />
                <ul>
                    <li>dinnerware</li>
                    <li>bedding</li>
                    <li>serveware</li>
                </ul>
            </a>
        </li>
        <li>
            <a class="store" href"http://www.target.com/RegistryGiftGiverCmd?isPreview=false&status=completePageLink&listId=ac4ZA2YfOM8IH9f-MmfYiA&registryType=WD&isAjax=false">
                <img src="{{ STATIC_URL }}img/registry/target_200x200.png" />
                <ul>
                    <li>appliances</li>
                    <li>bedding</li>
					<li>storage</li>
                </ul>
            </a>
        </li>
        <li>
            <a class="store" href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=49XA85VDI66I&type=wedding">
                <img src="{{ STATIC_URL }}img/registry/amazon_200x200.png" />
                <ul>
                    <li>stemware</li>
                    <li>pots &amp; pans</li>
					<li>cutlery</li>
                </ul>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
