{% extends "base.html" %}

{% block content %}
<div id="registry">
    <ul>
        <li>
            <a class="store" href="#">
                <img src="{{ STATIC_URL }}img/registry/crate_200x200.png" />
                <ul>
                    <li>kitchen</li>
                    <li>flatware</li>
                </ul>
            </a>
        </li>
        <li>
            <a class="store" href="#">
                <img src="{{ STATIC_URL }}img/registry/macys_200x200.png" />
                <ul>
                    <li>dinnerware</li>
                    <li>serveware</li>
                    <li>bedding</li>
                </ul>
            </a>
        </li>
        <li>
            <a class="store" href"#">
                <img src="{{ STATIC_URL }}img/registry/target_200x200.png" />
                <ul>
                    <li>kitchen</li>
                    <li>bedding</li>
					<li>appliances</li>
                </ul>
            </a>
        </li>
        <li>
            <a class="store" href="#">
                <img src="{{ STATIC_URL }}img/registry/amazon_200x200.png" />
                <ul>
                    <li>stemware</li>
                    <li>household</li>
                </ul>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
