<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<!-- <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"> -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/wedding.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/wedding.js"></script>
    <script type="text/javascript">
        var myfont_webfont_test = false;
        // change this to false if you're having trouble with WOFFs
        var woffEnabled = true;
        // to place your webfonts in a custom directory, uncomment this and set it to where your webfonts are.
        var customPath = "http://cdn.drewnora.s3.amazonaws.com/css";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/wedding_fonts.js"></script>
	
	<title>Annora & Drew</title>
</head>

<body>
<div id="page">
	<div id="header">
        {% block header %}
		<div id="title">Annora & Andrew</div>
		<div id="navigation">
			<ul>
				<li><a href="{% url home %}">Home</a></li>
				<li><a href="{% url rsvp %}">RSVP</a></li>
				<li><a href="{% url information %}">Information</a></li>
				<li><a href="{% url couple %}">Annora & Drew</a></li>
				<li><a href="{% url detroit %}">Detroit</a></li>
				<li class="last"><a href="{% url registry %}">Registry</a></li>
			</ul>
		</div>
        {% endblock %}
	</div>

	<div id="content">
        {% block content %}{% endblock %}
    </div>

	<div id="buildings"></div>
</div>
<div id="footer">
    {% block footer %}
	<span class='gfont'>A Gaerig-Sheehan joint</span>
    {% endblock %}
</div>

</body>
</html>
