<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/wedding.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/wedding.js"></script>
</head>

<body>

<div id="content" class="container">
	<div class="row">
		<div id="navigation" class="span16">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">RSVP</a></li>
				<li><a href="#">Information</a></li>
				<li><a href="#">Annora & Drew</a></li>
				<li><a href="#">Detroit</a></li>
				<li><a href="#">Registry</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span16">{% block content %}{% endblock %}</div>
	</div>
</div>

</body>
</html>