<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/wedding.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/wedding.js"></script>
	
	<title>Annora & Drew</title>
</head>

<body>

<div id="content" class="container">
	<div class="row">
		<div class="span16">
			<div id="header" class="sofia">Andrew & Annora</div>
		</div>
		<div id="navigation" class="span16">
			<ul>
				<li><a href="{% url home %}">Home</a></li>
				<li><a href="{% url rsvp %}">RSVP</a></li>
				<li><a href="{% url information %}">Information</a></li>
				<li><a href="{% url couple %}">Annora & Drew</a></li>
				<li><a href="{% url detroit %}">Detroit</a></li>
				<li><a href="{% url registry %}">Registry</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span16">{% block content %}{% endblock %}</div>
	</div>
	<div id="buildings"></div>
</div>
<div id="footer">
	<span class='gfont'>A Gaerig-Sheehan joint</span>
</div>

</body>
</html>